.container {
  background-color: #f1f1f1;
  box-sizing: border-box;
  padding: 25px;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.bug-manager-toolbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  width: 40%;
}

.bug {
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
}

.bug-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bug-name {
  font-size: 20px;
  font-weight: bold;
  padding: 0px 20px 0px 0px;
}

.portal {
  z-index: 1;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 800px;
  height: 500px;
  box-shadow: 0 5px 10px 2px rgba(195,192,192,.5);
  padding: 20px;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-block: 5px;
}

.form-field {
  padding: 10px;
  border-radius: 5px;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}
.col {
  flex: 1 1 calc(100% - 50px);
}

li {
    list-style-type: none;
}
